<header class="bg-white sticky transition-all duration-[.4s] ease-out-expo z-50 max-lg:shadow-2xl">
	<div class="relative z-40">
		<div class="container">
			<div class="flex flex-row items-center justify-between py-4 space-x-5 md:space-y-0 space-y-2">
				<a href="{{ '/' | relative_url }}" class="flex items-center flex-0">
					<img src="{{ 'img/logo-renault-black.svg' | relative_url }}" alt="{{ site.title }}" class="max-[450px]:h-[35px] h-[44px]">
					<div class="max-[450px]:ml-1 ml-3 space-y-0 leading-none">
						<p class="uppercase font-semibold max-[450px]:text-xs">АВТОХОЛДИНГ RENAULT</p>
						<p class="text-[11px] max-[450px]:text-[8px]">официальный дилер</p>
					</div>
				</a>

				<div class="hidden xl:flex space-x-8">
					<div class="space-y-0 leading-none text-center">
						<p class="font-semibold">{{ site.work.hours }}</p>
						<p class="text-[11px]">{{ site.work.when | replace: "(", "" | replace: ")", "" }}</p>
					</div>

					<div class="space-y-0 leading-none text-center">
						<p class="font-semibold">{{ site.address | slice: -24, 24 }}</p>
						<p class="text-[11px]">{{ site.address | slice: 0, 12 }}</p>
					</div>
				</div>

				<a href="tel:{% include utils/phonef.html phone=site.phone %}" class="text-gray-900 font-semibold text-lg lg:text-2xl hidden md:block">{{ site.phone }}</a>

				<div class="flex items-center gap-3">
					<button x-data="" @click="
						$store.modalShow.open($dispatch,
							'Заказать звонок',
							'Наши менеджеры с удовольствием свяжутся <br />с Вами!',
							'Заказать звонок. Шапка сайта',
							'Перезвоните мне'
						);
						" class="btn btn-super-primary">
					Звони</button>

					<button 
						class="w-12 h-[46px] flex items-center justify-center lg:hidden outline-none text-black border border-black/10" 
						@click="mobile = true"
						@click.outside="mobile = false"
					>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
						</svg>				  
					</button>
				</div>

			</div>
		</div>
	</div>
</header>