<!-- Modals -->
<div
	x-data="{ title: '', descr: '', subject: '', button: '' }"
	x-show="$store.modalShow.on > 0"
	@set-title.window="title = $event.detail"
	@set-descr.window="descr = $event.detail"
	@set-subject.window="subject = $event.detail"
	@set-button.window="button = $event.detail"
	x-transition:enter="animation-fade"
	x-transition:leave="animation-fadeout"
	class="fixed left-0 top-0 h-full w-full bg-black bg-opacity-90 z-50"
	style="display: none;"
	>
	<div @click.away="if($store.modalShow.on == 1)$store.modalShow.on=0;if($store.modalShow.on == 3)$store.modalShow.on=1" class="absolute w-full max-w-[500px]" style="left: 50%; top: 50%; transform: translate(-50%, -50%);">
		<div class="relative bg-white" x-show="$store.modalShow.on == 1" x-transition:enter="animation-top">
			<span @click="$store.modalShow.on = 0" class="absolute right-3 top-1 text-gray-700 text-3xl hover:text-gray-700 cursor-pointer">&times;</span>
			<div class="pt-5 pb-2 text-center text-2xl" x-text="title"></div>
			<p class="text-center pb-5" x-html="descr"></p>
			<div class="px-8 pb-8">
				<form>
					<input type="hidden" name="subject" :value="subject">
					<input type="text" name="name" class="form-input w-full border border-gray-500 py-2 px-3 mb-3" placeholder="Ваше имя">
					<div class="relative pb-5">
						<input type="tel" name="phone" class="w-full border border-gray-500 py-2 px-3" placeholder="Ваш номер телефона *" required>
						<div class="error text-[red] text-xs absolute bottom-0 hidden" id="phone"></div>
					</div>
					<small class="block text-xs text-gray-500 mb-5">Нажимая на кнопку «Отправить», вы даете свое согласие на <a x-data @click="$store.modalShow.on=2" href="javascript:void(0)" class="block text-gray-700 underline transition hover:no-underline">обработку персональных данных</a></small>
					<button type="submit" class="btn btn-primary w-full" x-text="button"></button>
				</form>
			</div>
		</div>
	</div>
</div>


<div x-data x-show="$store.modalShow.on>1" x-transition:enter="animation-fade" x-transition:leave="animation-fadeout" class="fixed left-0 top-0 h-full w-full z-[10000] bg-black bg-opacity-90" style="display: none;">
<noindex>
	<div @click.away="if($store.modalShow.on==4)$store.modalShow.on=0;else $store.modalShow.on=1" class="absolute w-full max-w-[900px]" style="left: 50%; top: 5%; transform: translate(-50%, 0);">
		<div class="relative bg-white overflow-auto h-screen pb-8" x-show="$store.modalShow.on>1" x-transition:enter="animation-top">
			<span @click="if($store.modalShow.on==4)$store.modalShow.on=0;else $store.modalShow.on=3" class="absolute right-3 top-1 text-gray-700 text-3xl hover:text-gray-700 cursor-pointer">&times;</span>
			<div class="py-5 px-8 text-xl sm:text-3xl">Политика в области обработки персональных данных</div>
			<div class="px-8 pb-8">
				<div class="policy-text">
					Настоящим Я, в соответствии с требованиями Федерального закона от 27.07.06 № 152-ФЗ «О персональных данных» даю свое согласие лично, своей волей и в своем интересе:<br>
                    ● Уполномоченным Дилером, Импортером/Дистрибьютором, Производителем ‒ лицам и контрагентам Дилера, Импортера и Производителя, с которыми Дилер, Импортер/ Дистрибьютор, Производитель заключают соответствующие договоры, для целей, указанных в настоящем согласии в соответствии с перечнем<br>
                    С целью:<br>
                    – исполнения законодательства Российской Федерации;<br>
                    – определения потребностей в производственной мощности;<br>
                    – мониторинга исполнения Дилерскими сервисными центрами гарантийной политики;<br>
                    – ведения истории обращения в Дилерские сервисные центры;<br>
                    – проведения маркетинговых исследований в области продаж, сервиса, послепродажного обслуживания автомобилей;<br>
                    – направления уведомлений, информационных сообщений, в том числе рекламного характера, рекламных материалов посредством e-mail, sms-сообщений, push-уведомлений, почтовой рассылки, телефонных звонков, и любых иных средств связи, в том числе электронных;<br>
                    – обработки обращений, в том числе в службу клиентской поддержки;<br>
                    – оказания услуги «помощи на дороге»;<br>
                    – гарантийного обслуживания автомобилей.<br>
                    <br>
                    Я соглашаюсь на обработку, то есть совершение любых действий (операций) или совокупности действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с моими персональными данными, включая сбор, запись, систематизацию, накопление, хранение (в электронном виде и на бумажном носителе), уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), , блокирование, удаление, уничтожение, трансграничную передачу моих персональных данных, а именно:<br>
                    – фамилия, имя, отчество (ФИО);<br>
                    – ID;<br>
                    – аккаунт в социальных сетях;<br>
                    – контактная информация (контактный телефон, адрес электронной почты);<br>
                    – информация о записи на тест-драйв;<br>
                    – информация о записи на ТО;<br>
                    – информация, содержащаяся в паспорте транспортного средства;<br>
                    <br>
                    Данное согласие действует в течение 5 лет.<br>
                    <br>
                    Настоящее согласие может быть отозвано Клиентом в любой момент в письменной форме путем направления письменного сообщения об указанном отзыве, если иное не установлено законодательством Российской Федерации. Обработка (в том числе архивное хранение) персональных данных сверх указанного срока осуществляется в соответствии с законодательством Российской Федерации.<br>
                    <br>
                    Клиент по письменному запросу имеет право на получение информации, касающейся обработки его персональных данных (в соответствии с п.7 ст. 14 Федерального закона Российской Федерации от 27.07.2006 г. № 152-ФЗ «О персональных данных»).<br>
                    <br>
                    Подтверждаю, что ознакомлен (а) с положениями Федерального закона Российской Федерации от 27.07.2006 г. № 152-ФЗ «О персональных данных», права и обязанности в области защиты персональных данных мне разъяснены и понятны.
                </div>
			</div>
		</div>
	</div>
</noindex>
</div>

<div
	class="overflow-y-auto"
	id="response_modal"
	x-show="$store.state.isResponseModalOpen"
	:class="{'fixed z-50 left-0 top-0 bottom-0 right-0 h-full w-full flex items-start justify-center bg-black/80' : $store.state.isResponseModalOpen}"
	x-transition:enter="animation-fade" x-transition:leave="animation-fadeout"
>
	<!-- dialog -->
	<div
		class="max-w-[450px] w-full bg-white shadow-2xl m-4 my-12 sm:m-8 px-5 p-4 sm:py-8 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50"
		x-show="$store.state.isResponseModalOpen"
		@click.away="$store.state.isResponseModalOpen = false"
	>
		<button class="absolute top-1 right-1 text-xl p-1 px-3" @click="$store.state.isResponseModalOpen = false;">&times;</button>
		<h3 class="text-center mb-5 text-3xl"></h3>

		<div class="content text-center">
			<p></p>
		</div>
		
	</div>
	<!-- /dialog -->
</div>
<!-- Modals End -->