{% if site.data.specials | size > 0 %}
<section class="pt-16 pb-9" id="specials">
	<div class="container">
		<div class="grid grid-cols-1 lg:grid-cols-2 gap-x-5 gap-y-4 sm:gap-y-5">
			{% for special in site.data.specials %}
			<div
				@click="
				$store.modalShow.open($dispatch,
					'Появились вопросы?',
					'Наши менеджеры с удовольствием свяжутся <br />с Вами!',
					'Акции. {{special['title']}} {{special['subtitle']}}',
					'Перезвоните мне'
				);
				"
				class="special border-4 border-black px-4 pt-6 pb-8 sm:px-5 sm:pt-8 sm:pb-12 cursor-pointer transition hover:bg-gray-100"
			>
				<div class="flex items-center">
					<img
						src="{{ special['img'] | relative_url }}"
						alt="{{ special['title'] }}"
						class="rounded-full relative z-10 border-4 border-black w-[100px] h-[100px] sm:w-[150px] sm:h-[150px] object-cover object-center"
					/>
					<div class="relative flex-grow">
						<h2
							class="bg-black text-white pr-6 pl-10 py-2 -ml-8 text-xs sm:text-lg xl:text-3xl font-bold uppercase flex items-center h-auto leading-1"
						>{{ special['title'] }}</h2>
						<div
							class="absolute top-full pl-2 text-sm sm:text-lg xl:text-2xl font-semibold text-gray-900 mt-1 !leading-[1]"
						>{{ special['subtitle'] }}</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
