---
layout: page
---

<section class="py-14">
	<div class="container space-y-4 sm:text-lg">
		<p>Автохолдинг "Renault" в Краснодаре специализируется на обслуживании и ремонте автомобилей <b class="font-bold">"Рено {{page.title | replace: "Ремонт", ""}}"</b>. Владельцы данной модели могут рассчитывать на профессиональное техническое обслуживание, внеплановый ремонт и гарантированное качество работ. Наша команда состоит из опытных и квалифицированных специалистов, работающих на современном сертифицированном оборудовании.</p>
		<p>Как авторизованный сервисный центр <b class="font-bold">"Рено {{page.title | replace: "Ремонт", ""}}"</b>, мы предоставляем услуги гарантийного и постгарантийного обслуживания, а также делаем все необходимые записи в сервисные книжки. В случае гарантийных обстоятельств, наши клиенты могут рассчитывать на бесплатный ремонт.</p>
		<div class="text-center pt-4">
			<button x-data="" @click="
				$store.modalShow.open($dispatch,
					'Запись на ремонт Рено {{page.title | replace: "Ремонт ", ""}}',
					'Наши менеджеры с удовольствием свяжутся <br />с Вами!',
					'Запись на ремонт {{page.title | replace: "Ремонт ", ""}}',
					'Перезвоните мне'
				);
				" class="btn btn-super-primary">
			Записаться на ремонт</button>
		</div>
	</div>
</section>

{{ content }}