---
layout: page
---

<section class="py-14">
	<div class="container space-y-4 sm:text-lg">
		<p>Автохолдинг "Renault" в Краснодаре приглашает всех владельцев <b class="font-bold">"Рено {{page.title | replace: "Ремонт", ""}}"</b> на регулярное техническое обслуживание и внеплановый ремонт. Благодаря опытному и квалифицированному персоналу, а также наличию сертифицированного оборудования, наш сервисный центр может гарантировать высокое качество любых работ.</p>
		<p>Наш авторизованный сервисный центр марки <b class="font-bold">"Рено {{page.title | replace: "Ремонт", ""}}"</b> в Краснодаре имеет право на проведение гарантийного и постгарантийного обслуживания, а также внесение необходимых пометок в сервисные книжки. Это значит, что при наступлении гарантийного случая вы всегда можете воспользоваться правом на бесплатный ремонт.</p>
		<div class="text-center pt-4">
			<button x-data="" @click="
				$store.modalShow.open($dispatch,
					'Запись на ремонт Рено {{page.title | replace: "Ремонт ", ""}}',
					'Наши менеджеры с удовольствием свяжутся <br />с Вами!',
					'Запись на ремонт {{page.title | replace: "Ремонт ", ""}}',
					'Перезвоните мне'
				);
				" class="btn btn-super-primary">
			Записаться на ремонт</button>
		</div>
	</div>
</section>

{{ content }}